.input--placer {
  position: relative;
  padding: 10px;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.time-input {
  font-family: Ubuntu;
  max-width: 300px;
  padding: 2px;
  border: none;
  font-size: 20px;
  background-color: rgba(137,137,137);
  font-weight: bold;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.input-error {
  position: fixed;
  z-index: 100;
  color: red;
  font-size: 24px;
  transform: translateY(-110px);
  opacity: 0;
  transition: all 0.5s ease;

  &.show {
    transform: translateY(-90px);
    opacity: 1;
  }
}
